.users{
    background-color: #040c17;

    

    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    
    .list{
        
        border: solid 2px whitesmoke;
        margin-right: 5vw;
        
        .immersion{
            border: solid 1px whitesmoke;
            list-style: none;
        }
    }

    .form{
        width: 300px;
        border: solid 2px whitesmoke;
        display: flex;
        flex-direction: column;

        .form-group{
            input {
                padding:7px;
                border-radius: 5%;
              }
            .form-control{
                margin: 12px;
            }
        }
    }

    h2{
        margin-bottom: 20px;
    }
}