.logbook{
    background-color: #040c17;
    
    color: blanchedalmond;

    .history-box{
        border: solid 2px white;
        display: flex;
        flex-direction: row;
        height: 500px;

        .photo_user{
            width: 300px;
            height: 200px;
            left: 80px;
            border-radius: 50%;
            margin-top: 62px;
            
        }

        .history{
            border: solid 2px white;
            width: 300px;
            height: 300px;
            overflow:scroll;

            .immersion{
                border: solid 2px white;
            }
    
        }

        .selected-immersion{
            border: solid 2px white;
        }
    
    }

    .logbook-chart{
        border: solid 2px white;
    }

    
    
}