.shadow-card{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 536px;
    height: 252px;
    left: 128px;
    top: 216px;
    
    background: rgba(245, 239, 239, 0.18);
    border-radius: 10px;

    .card{
        width: 402px;
        height: 253px;

        background: #C4C4C4;
        border-radius: 0px 10px 10px 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        ul{
            list-style: none;
            display: flex;
            margin: 12px;
            margin-bottom: -10px;

            
            
            
            li{
                text-align: center;
                margin: 15px;

                div{
                    border: 3px solid black;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    max-width: 60px;
                    max-height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                }
            }
        }
        
    }

    .photo_profile{
        position: absolute;
        width: 102px;
        height: 108px;
        left: 80px;
        border-radius: 10px;
        margin-top: 62px;
        
    }
}